@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  html {
    font-size: 0.4rem;
  }

  .rbc-btn-group > button {
    font-size: 12px;
  }

  .patient-card .MuiCardHeader-root {
    padding: 0px;
  }

  li.menu-item {
    min-height: 20px;
    padding: 4px 8px;
  }
}

.search-field {
  width: 90%;
  padding: 5px;
}

.App {
  display: flex;
  position: relative;
  max-width: 100%;
}

.ReactModal__Overlay {
  z-index: 5;
}

.calendar-wrapper,
.calendar-wrapper-selectable {
  flex: 4;
}

.calendar {
  padding: 20px;
}

.calendar-wrapper-selectable > .calendar > .rbc-month-view {
  box-shadow: 0 0 16px rgba(35, 173, 255, 1);
  cursor: pointer;
}

.calendar-wrapper-selectable
  > .calendar
  > .rbc-month-view
  > .rbc-month-row
  > .rbc-row-bg
  > .rbc-day-bg {
  z-index: 10;
}

.calendar-wrapper-selectable
  > .calendar
  > .rbc-month-view
  > .rbc-month-row
  > .rbc-row-bg
  > .rbc-day-bg:hover {
  cursor: pointer;
  background-color: #bfa47057;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.round-button {
  border-radius: 10px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.round-button:hover {
  box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}

.button-container {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.patients-container {
  height: 80vh;
  overflow: scroll;
}

.search-bar {
  margin: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.left-side {
  padding-top: 20px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.patient-card {
  cursor: pointer;
  padding: 10px;
  border-bottom: #f2dede solid 1px;
  border-right: #f2dede solid 1px;
}

.patient-card__selected {
  background-color: floralwhite;
}

.patient-card:nth-of-type(1) {
  border-top: #f2dede solid 1px;
}

.templateModal {
  max-width: 500px;
}

.date-cell {
  border: 2px solid #ebd2d245;
  width: 100%;
}

.date-cell:active {
  background-color: #bfa47057;
}
