.App {
  display: flex;
  position: relative;
}

.rbc-calendar {
  flex: 4;
}

.calendar {
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.round-button {
  border-radius: 10px;
  height: 50px;

  cursor: pointer;
  margin-bottom: 10px;
}

.round-button:hover {
  box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}

.button-container {
  position: absolute;
  left: 20px;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.search-bar {
  margin: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.left-side {
  flex: 1;
}

.patient-card {
  cursor: pointer;
  padding: 10px;
  border-bottom: #f2dede solid 1px;
  border-right: #f2dede solid 1px;
}

.patient-card__selected {
  background-color: floralwhite;
}

.patient-card:nth-of-type(1) {
  border-top: #f2dede solid 1px;
}
